# Rust artifacts
target/
**/*.rs.bk

# Python artifacts
__pycache__/
*.pyc
.venv/
env/
venv/
.ipynb_checkpoints/
.vscode/
.idea/

# Model Checkpoints (avoid committing heavy binaries)
*.pt
*.pth
markov_model.json

# Generated Wordlists
*.txt
!test.txt
!README.md
!requirements.txt
